# CausalForge Backend Environment Variables
NIM_API_KEY=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
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/causalforge?retryWrites=true&w=majority
MONGODB_DB=causalforge
